{% extends 'blog/base.html' %}

    {% block title %} Tum0xa's Blog {% endblock title %}

    {% block content %}

    <div class="container">
      {% include 'blog/header.html' %}
      {% include 'blog/nav.html' %}
      {% include 'blog/jumbotron.html' %}
      {% include 'blog/cards.html' %}
    </div>

    <main role="main" class="container">
      <div class="row">
        {% include 'blog/posts.html' %}
         <aside class="col-md-4 blog-sidebar">
             {% include 'blog/about.html' %}
             {% include 'blog/archives.html' %}
             {% include 'blog/social.html' %}
         </aside><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </main><!-- /.container -->

    {% include 'blog/footer.html' %}

    {% endblock content %}











