<div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
    </h3>
    {% if post_list %}
    {% for post in post_list %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.publication_date }} by <a href="author url">Author</a></p>
            <p>{{ post.content }}</p>
        </div><!-- /.blog-post -->
    {% endfor %}
    {% endif %}

<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>
</div><!-- /.blog-main -->
